
<%- include('partials/header') %>


<!-- Hero Slider Section Begin -->
<section class="hero-slider">
    <div class="slide-items owl-carousel">
        <div class="single-slide set-bg active" data-setbg="img/bg.jpg">
            <a href="https://www.youtube.com/watch?v=1B9Ymu6iU3s" class="play-btn pop-up"><i class="fa fa-play"></i></a>
            <h1>Be Fit.Top Gym</h1>
            <a href="#" class="primary-btn">Read More</a>
        </div>
        <div class="single-slide set-bg" data-setbg="img/bg-2.jpg">
            <a href="https://www.youtube.com/watch?v=YCqXZKaBi4g" class="play-btn pop-up"><i class="fa fa-play"></i></a>
            <h1>Be Fit.Top Trainer</h1>
            <a href="#" class="primary-btn">Read More</a>
        </div>
        <div class="single-slide set-bg" data-setbg="img/bg-3.jpg">
            <a href="https://www.youtube.com/watch?v=Qia2ZXEzyLw" class="play-btn pop-up"><i class="fa fa-play"></i></a>
            <h1>Be Fit.Top Body</h1>
            <a href="#" class="primary-btn">Read More</a>
        </div>
    </div>
</section>
<!-- Hero Slider End -->
<!-- Features Section Begin -->
<section class="features-section spad">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-features">
                    <div class="features-img">
                        <img src="img/features/feature-1.jpg" alt="">
                    </div>
                    <div class="feature-text">
                        <div class="feature-icon">
                            <img src="img/features/icon-1.png" alt="">
                        </div>
                        <h5>Amazing Setting</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis
                            nulla pretium, vitae ornare leo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features">
                    <div class="features-img">
                        <img src="img/features/feature-2.jpg" alt="">
                    </div>
                    <div class="feature-text">
                        <div class="feature-icon">
                            <img src="img/features/icon-2.png" alt="">
                        </div>
                        <h5>Best Trainers</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis
                            nulla pretium, vitae ornare leo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-features">
                    <div class="features-img">
                        <img src="img/features/feature-3.jpg" alt="">
                    </div>
                    <div class="feature-text">
                        <div class="feature-icon">
                            <img src="img/features/icon-3.png" alt="">
                        </div>
                        <h5>Diet Plans</h5>
                        <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis
                            nulla pretium, vitae ornare leo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Features Section End -->
<!-- Services Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <span>Features</span>
                    <h2>Services</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-service">
                    <img src="img/icon-1.png" alt="">
                    <h5>Pilates</h5>
                    <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                        pretium.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service c-text">
                    <img src="img/icon-2.png" alt="">
                    <h5>Free Lifting</h5>
                    <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                        pretium.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service">
                    <img src="img/icon-3.png" alt="">
                    <h5>Yoga</h5>
                    <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                        pretium.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-service">
                    <img src="img/icon-4.png" alt="">
                    <h5>Spinning</h5>
                    <p>Pellentesque dictum nisl in nibh dictum volutpat nec a quam. Vivamus suscipit nisl quis nulla
                        pretium.</p>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Services Section End -->






<%- include('partials/footer') %>
